In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [2]:
data= pd.read_csv('cardio_values.csv')

test = pd.read_csv('test_values.csv')

In [3]:
data.describe()

,slope_of_peak_exercise_st_segment,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina,heart_disease_present
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,1.550000,131.311111,3.155556,0.694444,0.161111,1.050000,249.211111,1.010000,0.688889,54.811111,149.483333,0.316667,0.444444
std,0.618838,17.010443,0.938454,0.969347,0.368659,0.998742,52.717969,1.121357,0.464239,9.334737,22.063513,0.466474,0.498290
min,1.000000,94.000000,1.000000,0.000000,0.000000,0.000000,126.000000,0.000000,0.000000,29.000000,96.000000,0.000000,0.000000
25%,1.000000,120.000000,3.000000,0.000000,0.000000,0.000000,213.750000,0.000000,0.000000,48.000000,132.000000,0.000000,0.000000
50%,1.000000,130.000000,3.000000,0.000000,0.000000,2.000000,245.500000,0.800000,1.000000,55.000000,152.000000,0.000000,0.000000
75%,2.000000,140.000000,4.000000,1.000000,0.000000,2.000000,281.250000,1.600000,1.000000,62.000000,166.250000,1.000000,1.000000
max,3.000000,180.000000,4.000000,3.000000,1.000000,2.000000,564.000000,6.200000,1.000000,77.000000,202.000000,1.000000,1.000000

In [4]:
data.head()

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina,heart_disease_present
0,0z64un,1,normal,128,2,0,0,2,308,0.0,1,45,170,0,0
1,ryoo3j,2,normal,110,3,0,0,0,214,1.6,0,54,158,0,0
2,yt1s1x,1,normal,125,4,3,0,2,304,0.0,1,77,162,1,1
3,l2xjde,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0,1
4,oyt4ek,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0,0

In [5]:
test.head()

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,olalu7,2,reversible_defect,170,1,0,0,2,288,0.2,1,59,159,0
1,z9n6mx,1,normal,138,4,0,0,0,183,1.4,0,35,182,0
2,5k4413,2,reversible_defect,120,4,0,0,2,177,2.5,1,43,120,1
3,mrg7q5,1,normal,102,3,1,0,0,318,0.0,0,60,160,0
4,uki4do,2,normal,138,4,1,0,2,166,3.6,1,61,125,1

In [6]:
data['max_heart_rate_diff'] = data['max_heart_rate_achieved'] - (data['max_heart_rate_achieved'] - data['age'])

In [7]:
test['max_heart_rate_diff'] = test['max_heart_rate_achieved'] - (test['max_heart_rate_achieved'] - test['age'])

In [8]:
test.head()

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina,max_heart_rate_diff
0,olalu7,2,reversible_defect,170,1,0,0,2,288,0.2,1,59,159,0,59
1,z9n6mx,1,normal,138,4,0,0,0,183,1.4,0,35,182,0,35
2,5k4413,2,reversible_defect,120,4,0,0,2,177,2.5,1,43,120,1,43
3,mrg7q5,1,normal,102,3,1,0,0,318,0.0,0,60,160,0,60
4,uki4do,2,normal,138,4,1,0,2,166,3.6,1,61,125,1,61

In [9]:
print(data['max_heart_rate_diff'].min())
print(data['max_heart_rate_diff'].max())

29
77

In [10]:
print(test['max_heart_rate_diff'].min())
print(test['max_heart_rate_diff'].max())

34
76

In [11]:
data.heart_disease_present.value_counts()

0    100
1     80
Name: heart_disease_present, dtype: int64

In [12]:
merged = pd.concat([data, test], ignore_index = True)

In [13]:
merged.isnull().sum()

age                                      0
chest_pain_type                          0
exercise_induced_angina                  0
fasting_blood_sugar_gt_120_mg_per_dl     0
heart_disease_present                   90
max_heart_rate_achieved                  0
max_heart_rate_diff                      0
num_major_vessels                        0
oldpeak_eq_st_depression                 0
patient_id                               0
resting_blood_pressure                   0
resting_ekg_results                      0
serum_cholesterol_mg_per_dl              0
sex                                      0
slope_of_peak_exercise_st_segment        0
thal                                     0
dtype: int64

In [14]:
merged.iloc[175:190]

,age,chest_pain_type,exercise_induced_angina,fasting_blood_sugar_gt_120_mg_per_dl,heart_disease_present,max_heart_rate_achieved,max_heart_rate_diff,num_major_vessels,oldpeak_eq_st_depression,patient_id,resting_blood_pressure,resting_ekg_results,serum_cholesterol_mg_per_dl,sex,slope_of_peak_exercise_st_segment,thal
175,67,4,0,1,1.0,163,67,2,0.2,5qfar3,125,0,254,1,2,reversible_defect
176,55,4,1,0,1.0,117,55,0,3.4,2s2b1f,180,1,327,0,2,normal
177,64,3,1,0,1.0,131,64,0,1.8,nsd00i,125,0,309,1,2,reversible_defect
178,48,3,0,1,0.0,175,48,2,0.0,0xw93k,124,0,255,1,1,normal
179,54,3,0,0,0.0,163,54,1,0.0,2nx10r,160,0,201,0,1,normal
180,59,1,0,0,NaN,159,59,0,0.2,olalu7,170,2,288,1,2,reversible_defect
181,35,4,0,0,NaN,182,35,0,1.4,z9n6mx,138,0,183,0,1,normal
182,43,4,1,0,NaN,120,43,0,2.5,5k4413,120,2,177,1,2,reversible_defect
183,60,3,0,0,NaN,160,60,1,0.0,mrg7q5,102,0,318,0,1,normal
184,61,4,1,0,NaN,125,61,1,3.6,uki4do,138,2,166,1,2,normal
185,43,3,0,0,NaN,165,43,0,0.2,kev1sk,122,0,213,0,2,normal
186,66,1,0,0,NaN,114,66,0,2.6,9n6let,150,0,226,0,3,normal
187,69,3,0,0,NaN,146,69,3,2.0,jxmtyg,140,2,254,1,2,reversible_defect
188,59,4,0,0,NaN,182,59,0,0.0,51s2ff,138,2,271,1,1,normal
189,47,3,0,0,NaN,156,47,0,0.0,wi9mcs,138,2,257,1,1,normal

In [15]:
#getting the minimum value in the age column
merged.age.min()

29

In [16]:
#getting the maximum value in the age column
merged.age.max()

77

In [17]:
#checking all the unique values in the age column
merged.age.unique()

array([45, 54, 77, 40, 59, 42, 60, 57, 50, 66, 64, 38, 29, 58, 71, 52, 67,
       70, 68, 51, 41, 65, 53, 48, 62, 74, 61, 63, 46, 43, 56, 44, 35, 55,
       49, 47, 37, 69, 39, 34, 76], dtype=int64)

In [18]:
merged.age.head()

0    45
1    54
2    77
3    40
4    59
Name: age, dtype: int64

In [19]:
#this creates categories for the age column form the lowest value upto the highest value and labels them from 0-9
merged.age = pd.cut(merged.age, bins=[0,40,60,100], labels=[1,2,3])

In [20]:
#gets the minimum value in the resting BP
merged.resting_blood_pressure.min()

94

In [21]:
#gets the maximum value in the resting BP
merged.resting_blood_pressure.max()

200

In [22]:
#getting the unique values in the resting BP column
merged.resting_blood_pressure.unique()

array([128, 110, 125, 152, 178, 130, 150, 170, 120, 140, 138, 144, 136,
       160, 108, 106, 156, 180, 112, 122, 124, 135, 105, 115, 126, 172,
       145, 118, 134, 100, 155, 132, 102,  94, 117, 142, 129, 158, 174,
       101, 146, 104, 200, 192, 123, 165, 148], dtype=int64)

In [23]:
#this creates categories for the age column form 50 to 400, creating the categories in a specified way
merged.resting_blood_pressure = pd.cut(merged.resting_blood_pressure, bins=[0,110,140,201,400], labels=range(1,5))

In [24]:
merged.thal.unique()

array(['normal', 'reversible_defect', 'fixed_defect'], dtype=object)

In [25]:
#creates a dictionary that maps the keys to the values
mapper={'normal':1, 'reversible_defect':2, 'fixed_defect':3}

# maps the keys of the dict to the values
merged.thal=merged.thal.map(mapper)

In [26]:
#drops all the duplicate entries in the data
merged.drop_duplicates(keep='first',inplace=True)

In [27]:
#checks if there are any empty spaces in the data
merged.isnull().sum()

age                                      0
chest_pain_type                          0
exercise_induced_angina                  0
fasting_blood_sugar_gt_120_mg_per_dl     0
heart_disease_present                   90
max_heart_rate_achieved                  0
max_heart_rate_diff                      0
num_major_vessels                        0
oldpeak_eq_st_depression                 0
patient_id                               0
resting_blood_pressure                   0
resting_ekg_results                      0
serum_cholesterol_mg_per_dl              0
sex                                      0
slope_of_peak_exercise_st_segment        0
thal                                     0
dtype: int64

In [28]:
merged.serum_cholesterol_mg_per_dl = pd.cut(merged.serum_cholesterol_mg_per_dl, bins=[0,200,400,1000],labels=[1,2,3])

In [29]:
print(merged.max_heart_rate_diff.min())
print(merged.max_heart_rate_diff.max())
print(merged.max_heart_rate_diff.std())
print(merged.max_heart_rate_diff.mean())

29
77
9.109066523898205
54.43333333333333

In [30]:
merged.max_heart_rate_diff = pd.cut(merged.max_heart_rate_diff, bins=[0,44,64,100],labels=[1,2,3])

In [31]:
merged.oldpeak_eq_st_depression = pd.cut(merged.oldpeak_eq_st_depression, bins=3, labels=[1,2,3])

In [32]:
merged.tail()

,age,chest_pain_type,exercise_induced_angina,fasting_blood_sugar_gt_120_mg_per_dl,heart_disease_present,max_heart_rate_achieved,max_heart_rate_diff,num_major_vessels,oldpeak_eq_st_depression,patient_id,resting_blood_pressure,resting_ekg_results,serum_cholesterol_mg_per_dl,sex,slope_of_peak_exercise_st_segment,thal
265,2,3,0,0,NaN,172,2,0,1,bwoyg6,2,0,2,0,1,1
266,2,4,1,0,NaN,125,1,0,1,j8i7ve,2,0,2,1,2,3
267,2,1,0,0,NaN,178,1,2,1,t2zn1n,3,2,2,1,1,1
268,2,4,1,0,NaN,152,2,0,1,oxf8kj,2,2,2,0,2,1
269,2,4,0,0,NaN,171,1,0,1,aeiv0y,3,0,2,1,1,1

In [33]:
merged.drop('max_heart_rate_achieved', axis=1, inplace=True)

In [34]:
data = merged.iloc[:180]
test = merged.iloc[180:]

In [35]:
data.tail()

,age,chest_pain_type,exercise_induced_angina,fasting_blood_sugar_gt_120_mg_per_dl,heart_disease_present,max_heart_rate_diff,num_major_vessels,oldpeak_eq_st_depression,patient_id,resting_blood_pressure,resting_ekg_results,serum_cholesterol_mg_per_dl,sex,slope_of_peak_exercise_st_segment,thal
175,3,4,0,1,1.0,3,2,1,5qfar3,2,0,2,1,2,2
176,2,4,1,0,1.0,2,0,2,2s2b1f,3,1,2,0,2,1
177,3,3,1,0,1.0,2,0,1,nsd00i,2,0,2,1,2,2
178,2,3,0,1,0.0,2,2,1,0xw93k,2,0,2,1,1,1
179,2,3,0,0,0.0,2,1,1,2nx10r,3,0,2,0,1,1

In [36]:
test.head()

,age,chest_pain_type,exercise_induced_angina,fasting_blood_sugar_gt_120_mg_per_dl,heart_disease_present,max_heart_rate_diff,num_major_vessels,oldpeak_eq_st_depression,patient_id,resting_blood_pressure,resting_ekg_results,serum_cholesterol_mg_per_dl,sex,slope_of_peak_exercise_st_segment,thal
180,2,1,0,0,NaN,2,0,1,olalu7,3,2,2,1,2,2
181,1,4,0,0,NaN,1,0,1,z9n6mx,2,0,1,0,1,1
182,2,4,1,0,NaN,1,0,2,5k4413,2,2,1,1,2,2
183,2,3,0,0,NaN,2,1,1,mrg7q5,1,0,2,0,1,1
184,3,4,1,0,NaN,2,1,2,uki4do,2,2,1,1,2,1

In [37]:
data.heart_disease_present = data.heart_disease_present.astype(int)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [38]:
data.isnull().sum()

age                                     0
chest_pain_type                         0
exercise_induced_angina                 0
fasting_blood_sugar_gt_120_mg_per_dl    0
heart_disease_present                   0
max_heart_rate_diff                     0
num_major_vessels                       0
oldpeak_eq_st_depression                0
patient_id                              0
resting_blood_pressure                  0
resting_ekg_results                     0
serum_cholesterol_mg_per_dl             0
sex                                     0
slope_of_peak_exercise_st_segment       0
thal                                    0
dtype: int64

In [39]:
test.drop('heart_disease_present', axis=1, inplace=True)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
test.isnull().sum()

age                                     0
chest_pain_type                         0
exercise_induced_angina                 0
fasting_blood_sugar_gt_120_mg_per_dl    0
max_heart_rate_diff                     0
num_major_vessels                       0
oldpeak_eq_st_depression                0
patient_id                              0
resting_blood_pressure                  0
resting_ekg_results                     0
serum_cholesterol_mg_per_dl             0
sex                                     0
slope_of_peak_exercise_st_segment       0
thal                                    0
dtype: int64

In [41]:
data.drop('patient_id', axis=1, inplace=True)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [42]:
#getting the target/labels for your predictions
y = data.heart_disease_present
y = y.values

In [43]:
#getting the features for yoyr predictions
X = data.drop('heart_disease_present', axis=1)

In [44]:
X = X.values

In [45]:
test.drop('patient_id',axis=1,inplace=True)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [46]:
test = test.values

In [47]:
#isntanciating the random forest classifier object
forest = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=2, min_samples_leaf=2)

In [48]:
forest.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=2, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=2, verbose=0,
                       warm_start=False)

In [49]:
#making predictions
pred = forest.predict_proba(test)

In [50]:
pred[:,1][:5]

array([0.35129445, 0.19249618, 0.91473265, 0.08161143, 0.8591163 ])

In [51]:
sol = pd.read_csv('submission_format.csv')

In [52]:
sol['heart_disease_present'] = pred[:,1]

In [53]:
sol.to_csv('solution.csv', index=False)